.admin {
  background-image: url("./vector1.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.admin .top{
    background-color: aliceblue;
}
.admin .top a{
  text-decoration: none;
  color: black;
}