.User {
  background-image: url("./vector1.jpg");
  background-position: center;
  background-size: cover;
  padding: 90px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.User h1 {
  font-family: "Matemasie", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Sevillana", cursive;
  color: brown;
  margin-top: 10px;
}
.top {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  align-items: center;
  background-color: whitesmoke;
  z-index: 1000;
}
.top h6 {
  font-family: "Sevillana", cursive;
  font-family: "Matemasie", sans-serif;
  font-size: 26px;
}
.top ul {
  display: flex;
  list-style: none;
  gap: 50px;
}
.top ul li {
  font-family: "Sevillana", cursive;
  font-family: "Matemasie", sans-serif;
}

.top ul li em {
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  color: brown;
}
.top ul li button {
  border: 0px;
  cursor: pointer;
  font-family: "Matemasie", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: underline;
  color: grey;
}
.top ul li .cart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top ul li img {
  height: 30px;
}
.top ul li .num {
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  color: white;
  font-size: 10px;
  padding: 5px;
  position: absolute;
  justify-self: center;
  font-size: 13px;
}
.top ul a {
  text-decoration: none;
  font-family: cursive;
  font-family: "Josefin Sans", sans-serif;
  color: brown;
}
.books {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  gap: 50px;
  row-gap: 50px;
}
.book {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  position: relative;
  font-family: "Matemasie", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  gap: 6px;
  text-align: center;
  cursor: pointer;
  width: 250px;
}
.book img {
  width: 100%;
  height: 75%;
}
a {
  text-decoration: none;
  color: black;
}
.book button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  padding: 5px 10px;
  color: #111;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
}
